body{
	padding: 50px;
}

.navbar{
	opacity: 0.9;
}

.lectureNavs{
	z-index:999;
	position:absolut;
	top:50px;
	display:none;
}	
.groupNavs{
	z-index:998;
	position:absolut;
	top:100px;
	display:none;
}

.taskSheetNavs{
	z-index:997;
	position:absolut;
	top:150px;
	display:none;
}
		
.navbar-default .myActive{
	color: #ffffff;	
}