body{
	padding: 50px;
}

#everythinElse{
	z-index:100;
}

.navbar{
	opacity: 0.9;
}

.notHover.navbar-brand{
  color: #ff0000;
}

.notHover.navbar-brand:hover,
.notHover.navbar-brand:focus {
  color: #ff0000;
  background-color: transparent;
  text-decoration: none;
}

.lectureNavs{
	position:absolut;
	top:50px;
	display:none;
}	

.manageNav{
	position:absolut;
	top:50px;
	display:none;
}	

.groupNavs{
	position:absolut;
	top:100px;
	display:none;
}

.taskSheetNavs{
	position:absolut;
	top:150px;
	display:none;
}
		
.navbar-default .myActive{
	color: #ffffff;	
}