@(errorCode : Integer)(errorText: String)
<!DOCTYPE html>
<html>
	<head>
		<title>
			@errorCode match {
   				case errorCode if(errorCode == de.phoenix.rs.PhoenixStatusType.MULTIPLE_ENTITIES.getStatusCode() ) => { Multiple Entities found}
   				case errorCode if(errorCode == de.phoenix.rs.PhoenixStatusType.DUPLIATE_ENTITY.getStatusCode()) => { Duplicate Entities found}
   				case errorCode if(errorCode == de.phoenix.rs.PhoenixStatusType.NO_ENTITIES.getStatusCode()) => { No Entities found}
   				case errorCode if(errorCode == 404) => {Not found}
   				case errorCode if(errorCode == 500) => {Damn, that hurts!}
   				case _ => {Unknown Error}
			}
		</title>
	</head>
<body>
	<h1>Error @errorCode</h1>
	<p><h2>&nbsp;&nbsp;&nbsp;&nbsp;@Html(errorText)</h2></p>
	<br><br>
	<b>=> <a href="/debug">debug</a></b>
</body>
</html>