@(title: String)(additionalHead: Html)(content: Html)
<!DOCTYPE html>
<html>
	<head>
	
	<title>@title</title>
	<link href=@routes.Assets.at("stylesheets/bootstrap.css") rel="stylesheet">
	<link href=@routes.Assets.at("stylesheets/main.css") rel="stylesheet">
	<script src=@routes.Assets.at("javascripts/bootstrap.js")></script>
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	@additionalHead
</head>
<body>
<div class="container">
	<!-- HEADER -->
	<div class="row-fluid">
		<div class="span12 headline">
			<div class="row-fluid">
				<div class="span4">
					<a href="/"><img src="@routes.Assets.at("images/ovgu_fin.png")"></a>
				</div>
				<div class="span3 offset3" style="padding-left: 50px; margin-top: 33px;">
					<a href="#">Eistellungen</a> <span class="divider">|</span>
					<a href="#">Kontakt</a>
				</div>
				<div class="span1" style="padding-left: 30px; margin-top: 28px">
					<button rel="clickover_login" class="btn btn-primary btn-medium" data-toggle="clickover" data-placement="bottom">
						<b>Login</b>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<!-- Content -->
		<div class="span12">
			@if(session().get("PhoenixUser") != null){<div class="well">Logged in as <a href="/logout">@session.get("PhoenixUser")</a></div>}
			@content
		</div>
	</div><!-- Close middle row-fluid -->
	
	<!-- FOOTER -->
	<div class="row-fluid">
		<div class="span12 footer">
			<div class="row-fluid">
				<div class="span9" style="padding: 26px 0px 0px 15px;">
					&copy &copy <a href="mailto:Projectphoenix@@radeberger.cs.uni-magdeburg.de"> Phoenix Team </a>
				</div>
				<div class="span5 offset1" style="width: 80px; height: 50px;">
					<img src="@routes.Assets.at("images/INF.png")" width="100%" style="margin: 10px 0px 0px 45px;"/>
				</div>
			</div>
		</div>
	</div>

</div> <!-- Close Container -->


<!-- Login Tool-Tip Content -->
<div id="login-content" class="hide">
	<form method="POST" action="/login" style="margin-bottom: 8px;">
		Nutzername:<br>
		<input type="text" name="username"><br>
		Passwort:<br>
		<input name="password" type="password"><br><br>
		<input type="submit" value="Log me in!" class="btn btn-success">
	</form>
</div>



<!-- Javascripts -->
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src=@routes.Assets.at("javascripts/bootstrapx-clickover.js")></script>

<script type="text/javascript">
//$("#myModal").modal({ keyboard: false })

$(function() { 
    $('[rel="clickover_login"]').clickover({
    html: true,
    content: $('#login-content').html(),
    title: "<b>Login</b><div class=\"pull-right\"><a href=\"/register\" data-toggle=\"modal\">Registrieren</a></div>"
    }); 
})  		
</script>

</body>
</html>