@(title : String)(lectures : List[de.phoenix.rs.entity.PhoenixLecture])
@head={
<!doctype html>
<script type="text/javascript"  src="/assets/javascripts/jquery-1.9.0.min.js"></script>
<script src="/assets/javascripts/multipleInputs.js"></script>
<script type="text/javascript">
	var detail2 = false;
	var detail3 = false;
	var notNumber = /\D+/
	var splChars =/^.*?(?=[\^#%&$\*:;!\"§<>\?/\{\|\}@@]).*$/;
	

	$(document).ready(function(){
		$(document).on('change', '.Number', function(){	
			if(notNumber.test($(this).val())){
				$(this).val("0");
				alert('Bitte hier eine Nummer eingeben.'); 
			    $(this).focus(); 
			}
		});	
		
		$("#lectureDetail").on('change', '.Text', function(){	
			if(splChars.test($(this).val())){
				$(this).val('');
			    alert ("Illegal characters detected!"); 
			    $(this).focus(); 
			}
		});
		
		$("#title").change(function(){
			if(splChars.test($(this).val())){
				$(this).val('');
			    alert ("Illegal characters detected!"); 
			    $(this).focus(); 
			}
		});
		
	});
	</script>
}

@_Structure(title)(head){
	
	<form action="/sendGroup" method="post" onsubmit="return ValidateForm(this);">

		Titel:&nbsp;&nbsp;&nbsp;<input type="text" name="title" id="title"><br><br>
		Zugeh&ouml;rige Veranstaltung:&nbsp;&nbsp;&nbsp;
		<select name="selectLecture" size="1">
			@lectures.map{ lecture =>
				<option>@lecture.getTitle()</option>
			}		
		</select><br><br>
		Maximale Gr&ouml;&szlig;e:&nbsp;&nbsp;&nbsp;<input type="text" name="size" class="Number"><br><br>
		<div id="lectureDetail">	
			Raum: <input type="text" name="room" class="Text"><br><br>
			
			<select name="day_1" size="1">
				<option value="monday" checked>Montag</option>
				<option value="tuesday">Dienstag</option>
				<option value="wednesday">Mittwoch</option>
				<option value="thursday">Donnerstag</option>
				<option value="friday">Freitag</option>
				<option value="saturday">Samstag</option>
				<option value="sunday">Sonntag</option>
		    </select><br><br>
			
			Startzeit:<input type="time" name="startTime_1"><br><br>
			Endzeit: <input type="time" name="endTime_1"><br><br>
			
			Periode:<input type="number" name="period_1" value="1" class="Number"/>
			    <select name="periodDD_1" size="1">
			      <option value="days">Tag(e)</option>
			      <option value="weeks" selected>Woche(n)</option>
			      <option value="months">Monat(e)</option>
			    </select><br><br>
			
			Startdatum:<input type="date" name="startDate_1"><br><br>			
			Enddatum:<input type="date" name="endDate_1"><br><br>
			<input type="button" class="removeDetails" value="Detail l&ouml;schen"/></div>
		</div>	
		<input type="button" id="moreDetails" value="mehr DETAILS!"/><br><br>
		Abgabetag:<br>		
		<select name="submissionDay" size="1">
			<option value="monday" checked>Montag</option>
			<option value="tuesday">Dienstag</option>
			<option value="wednesday">Mittwoch</option>
			<option value="thursday">Donnerstag</option>
			<option value="friday">Freitag</option>
			<option value="saturday">Samstag</option>
			<option value="sunday">Sonntag</option>
	    </select><br><br>
		Abgabezeit:<input type="time" name="submissionTime"><br><br>	
		<input name="Submit" type="submit" value="Create" />
		<input name="Submit" type="submit" value="Update" />
	</form> 	
}
		
