@(title : String)(lectureTitle : String)(sheets : List[de.phoenix.rs.entity.PhoenixTaskSheet])(groups : List[util.TimeGroup])
@head={}

@_Structure(title)(head){
		<h1>Aufgabenblatt Auswahl</h1>
		<i>Wählen Sie ein Blatt aus, das Sie den verschiedenen Gruppen hinzufügen möchten</i><br><br><br>
		
		<form method="POST" action="/sendTaskSheetToGroup">
			<table cellpadding="10px">
				<tr>
					<th style="text-align: left">
						Aufgabenblätter
					</th>
					  
					<th style="text-align: left">
						Gruppen (@lectureTitle)
					</th>
					
				</tr>
				<tr>
					<td>
			 		  @for(i <- 0 until sheets.size()){
	      				<input type="radio" name="tasksheet" value="@sheets.get(i).getTitle()"> @sheets.get(i).getTitle()<br> 
	      	 		  }
	    			</td>
	    			<td>
		    			<table>
		    			<th>
		    			</th>
		    			<th>
		    				Erscheint am
		    			</th>
		    			<th>
		    				Abgabetag
		    			</th>
		    			  @for(i <- 0 until groups.size()) {
			    			  <tr>
			    			  	<td>
			      					<input type="checkbox" name="@groups.get(i).getPhoenixGroup().getName()" value="@groups.get(i).getPhoenixGroup().getName()"> @groups.get(i).getPhoenixGroup().getName()<br> 
			      	 		  	</td>
			      	 		 	<td>
			      	 		  		<input type="datetime-local" name="deadline_@groups.get(i).getPhoenixGroup().getName()" value="@util.TimeGroup.now("Y-MM-d'T'H:mm")"/><br> 
			      	 		  	</td>
			      	 		  	<td>
			      	 		  		<input type="datetime-local" name="release_@groups.get(i).getPhoenixGroup().getName()" value="@groups.get(i).nextDeadlineDateString("Y-MM-d'T'H:mm")"/><br> 
			      	 		  	</td>
			      	 		  </tr>
		      	 		  }	
	   					</table>
	      	 	</tr>
	      	 </table>
	      	 <input type="hidden" name="lecture" value="@lectureTitle">
	      	 <input type="submit" value="Senden">
		</form>
}