@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspStudent</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">
			<li class="dropdown-submenu">
                <a tabindex="-1" href="#">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="EISTcourse">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="EImaterialStudent">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="EISTgroup1">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="EISTgroup2">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="EISTgroup3">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="EISTgroup4">Gruppe 4</a></li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="AUDSTcourse">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="AUDmaterialStudent">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="AUDSTgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="AUDSTgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="AUDSTgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="AUDSTgroup4">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="FPSTcourse">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="FPmaterialStudent">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="FPSTgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="FPSTgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="FPSTgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="FPSTgroup4">Gruppe 4</a></li>
							                 </li>
							        	</ul>
					               </li>
			                    </ul>
			                </li>
			              	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbsp&nbspAuD</li>
			                <li class="dropdown-submenu">
								<a tabindex="-1" href="AUDSTgroup1">Meine Gruppe</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="AUDSTgr1sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="AUDSTgr1sh1">&nbsp|&nbsp&nbspBlatt1</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="AUDSTgr1sh1a1">Aufgabe 1</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh1a2">Aufgabe 2</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh1a3">Aufgabe 3</a></li>
									</li>
								</ul>
							</li>
							<li><a tabindex="-1" href="AUDSTgr1sh1a3">&nbsp&nbsp&nbsp|&nbsp&nbspAufgabe 3</a></li>
			                <li><a tabindex="-1" href="AUDSTsolutions">Musterlösungen</a></li>
			                <li><a tabindex="-1" href="AUDmaterialStudent">Material</a></li>
			          	 	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspBlatt</li>
							<li><a tabindex="-1" href="AUDSTSHsubmissions">Einreichungen</a></li>
							<li><a tabindex="-1" href="AUDSTSHstatistics">Statistiken</a></li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		AUD Student Gruppe 1 Blatt 1 Aufgabe 3
		<div class="pull-right">
		</div>
	</div>
	<div id="content">
		-Hier kann man vom Übungsblatt 1 die Aufgabe 3 betrachten.
	</div>
</div>

}