@(title : String)

@head = {

<script src="/assets/javascripts/multipleInputs.js"></script>

}

@_Structure(title)(head){
	<center>
		<p>	@if(flash.get("maliciousChar") == "true") {
				<i><font color="red">Verbotenes Zeichen wurde benutzt !!</font></i><br>
			}
			@if(flash.get("syntaxError") == "true") {
				<i><font color="red">Syntax error !!</font></i><br>
			}
		</p>
		<p style="margin-top: 50px">
			<h2>Erstelle eine Aufgabe (automatischer Test)</h2>
			<form enctype="multipart/form-data" action="/sendAutomaticTask" method="POST">
				<table cellspacing="25" style="width:50%">
					<tr>
						<td>Aufgabentitel</td>
						<td><input name="title" style="width:100%" type="text" ></td>
					</tr>
					<tr>
						<td>Beschreibung</td>
						<td><textarea name="description" style="width: 100%" rows="8" ></textarea></td>
					</tr>
					<tr>
						<td>
							Backend
						</td>
						<td>
							<select name="backend">
  								<option value="Java">Java</option>
  								<option value="Python">Python</option>
  								<option value="C++">C++</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Nicht zugelasse Packages
						</td>
						<td>
							<input type="checkbox" name="javaio" checked="checked" value="java.io,java.nio,java.net,javax.net"> java.io, java.nio, java.net, javax.net<br>
							<input type="text" name="disallowed" style="width:100%"><i>Nicht erlaubte Strings (durch Komma getrennt) </i>
						</td> 
					</tr>
						<td>Unit Tests</td>
						<td>
							<h4><a href="#" id="AddMoreTestBox" >+ Weiteren Test</a></h4>
							<div id="InputsWrapperTest">
								<div><textarea name="test_1" style="width: 100%" rows="8" ></textarea>
								<a href="#" class="removeclassTest">&times; entfernen</a></div>
							</div>
						</td>
					<tr>
					</tr>
					<tr>
						<td>Anhang</td>
						<td><input type="file" name="binary" multiple/></td>
					</tr>
					<tr>
						<td>Antwortvorlage</td>
						<td><input type="file" accept="binary" name="pattern" multiple/></td>
					</tr>
				</table><br>
				<input type="submit" value="Aufgabe erstellen">
			</form>
		</p>
	</center>
}