@(title : String)
<!-- import for  play.api.Play.getFile()-->
@import play.api.Play.current 

@head = {
<script src="/assets/javascripts/tiny_mce/tiny_mce.js"></script>
<script>
        tinymce.init({selector:'textarea'});
</script>
}

@_Structure(title)(head){
	<center>
		<p style="margin-top: 50px">
			<h2>Erstelle eine Aufgabe</h2><br>
			<a href="/createAutomaticTask">zum automatischen Test</a>
			<form enctype="multipart/form-data" action="/sendTask" method="POST">
				<table cellspacing="25" style="width:50%">
					<tr>
						<td>Aufgabentitel</td>
						<td><input name="title" style="width:50%" type="text" ></td>
					</tr>
					<tr>
						<td>Beschreibung</td>
						<td>
							<textarea id="editor" name="description" style="width: 100%" >
							Um die Bilder zu nutzen gib bei "image URL"  '/images/'Bildname' an
							</textarea>
							Hochgeladene Bilder:
							<select>
								@play.api.Play.getFile("public/images/").listFiles().map {file =>
									<option>@file.getName()</option>
								}
							</select>
							<a href="/images"><input type="button" value="Bild hochloaden"></a>
						</td>
					</tr>
					<tr>
						<td>Anhang</td>
						<td><input type="file" name="binary" multiple/></td>
					</tr>
					<tr>
						<td>Antwortvorlage</td>
						<td><input type="file" accept="binary" name="pattern" multiple/></td>
					</tr>
				</table>
				<input type="submit" value="Aufgabe erstellen">
			</form>
			@if(flash.get("maliciousChar") == "true") {
				<i><font color="red">Verbotenes Zeichen wurde benutzt !!</font></i>
			}
		</p>
	</center>
}