@(title : String)
@head = {
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- TinyMCE -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/tiny_mce/tiny_mce.js")"></script>
<script type="text/javascript">
	tinyMCE.init({
		// General options
		mode : "textareas",
		theme : "advanced",
		skin : "o2k7",
		plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,inlinepopups,autosave",

		// Theme options
		theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
		theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : false,

		// Example word content CSS (should be your site CSS) this one removes paragraph margins
		content_css : "css/word.css" //Add our own main css!
	});
</script>


}
@_Structure(title)(head) {
		<form method="POST" action="http://tinymce.moxiecode.com/dump.php?example=true">
			<table style="margin-bottom:10px">
				<tr><td>Aufgabenname</td><td> <input type="text" name="taskname" size="20"></td></tr>
				<tr><td>Aufgaben "Tags"</td><td> <input type="text" name="tasktags" size="20"></td></tr>
			</table>
			<table>
			<tr><td><center>
				<textarea id="elm1" name="editor" rows="20" cols="20" style="width: 40%">
					&lt;p&gt;Du kannscht hier alles mach'n Bruda! :D&lt;/p&gt;
				</textarea>
				<input type="submit" name="submit" value="Aufgabe speichern" style="margin-top: 10px">
			</center>
			</td></tr>
			</table>
		</form>
}