@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspTeacher</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">
			<li class="dropdown-submenu">
                <a tabindex="-1" href="#">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="EIcourse">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="EITEmaterial">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="EIgroup1">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="EIgroup2">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="EIgroup3">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="EIgroup4">Gruppe 4</a></li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="AUDcourse">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="AUDTEmaterial">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="AUDgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="AUDgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="AUDgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="AUDgroup4">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="FPcourse">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="FPTEmaterial">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="FPgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="FPgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="FPgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="FPgroup4">Gruppe 4</a></li>
							                 </li>
							        	</ul>
					               </li>
			                    </ul>
			                </li>
			              	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspEinf. Inf.</li>
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup1">Gruppe 1</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="EIgr1sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="EIgr1sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="EIgr1sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgr1sh3">&nbsp|&nbsp&nbspBlatt3</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="EIgr1sh3a1">Aufgabe 1</a></li>
										<li><a tabindex="-1" href="EIgr1sh3a2">Aufgabe 2</a></li>
										<li><a tabindex="-1" href="EIgr1sh3a3">Aufgabe 3</a></li>
									</li>
								</ul>
							</li>							
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup2">Gruppe 2</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="EIgr2sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="EIgr2sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="EIgr2sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup3">Gruppe 3</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="EIgr3sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="EIgr3sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="EIgr3sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup4">Gruppe 4</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="EIgr4sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="EIgr4sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="EIgr4sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
		    				<li><a tabindex="-1" href="EITEmaterial">Material für Lehrende</a></li>
		    				<li><a tabindex="-1" href="EITEsolutions">Studentische Musterlösungen</a></li>
			              	<li><a tabindex="-1" href="EItaskpool">Aufgabenpool</a></li>
							<li><a tabindex="-1" href="EIsheet_create">Blatt Erstellen</a></li>
			              	<!-- Divider -->       	     	
			                <li class="divider"></li>
			                <li><a tabindex="-1" href="AUDcourse">Algorithmen und Datenstrukturen</a></li>
		   					<li><a tabindex="-1" href="FPcourse">Funktionale Programmierung</a></li>
<!-- =====================================================================================				
				<ul class="dropdown-menu">
					<li class="dropdown-submenu">
						<li><a tabindex="-1" href="sheet_create">Blatt</a></li>
						<li><a tabindex="-1" href="create">Gruppe</a><li>
						<li><a tabindex="-1" href="create">Veranstaltung</a><li>
					</li>
				</ul> 
	================================================================================	-->
<!--						</li> -->
		   					<!-- Divider -->       	
		    				<li class="divider"></li>
							<li class="menu-label1">&nbsp&nbspBlatt</li>
							<li><a tabindex="-1" href="EITESHsubmissions">Einreichungen</a></li>
							<li><a tabindex="-1" href="EITESHstatistics">Statistiken</a></li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
	<div class="article">
		<div id="headline">
			AuD Gruppe 1 Blatt 3 Aufgabe 1
			<div class="pull-right">
				<div class="btn-group">
					<button class="btn btn-mini"><i class="icon-edit"></i></button>
					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
				    <ul class="dropdown-menu" style="margin: 0 auto; left: -280%">
				    	<li><a href="#">Bearbeiten</a></li>
				    	<li><a href="#">Hinzufügen</a></li>
				    </ul>
				</div>
			</div>
		</div>		
		<div id="content">
			<div>	
				<h4>Aufgabe 1: Endrekursion</h4>
					<ol start="1" type="a">
						<li>Beschreiben Sie kurz was eine Endrekursion (iterative Rekursion, engl.tail recursion) ist.</li>
						<li> Schreiben Sie jeweils eine <b>endrekursive</b> Methode.
							<ul>
								<li>Es soll mit der endrekursive Methode
								<br /><br /><b> 
								public static int pot2TailRec(int n)
								</b><br /><br />
								die Zweierpotenz einer natürlichen Zahl <i>n</i> berechnet werden. So soll beispielsweise <i>pot2TailRec(4)</i> die Zahl 16 liefern.</li>
								<li>Für die Bestimmung der befreundeten Zahlen (siehe Blatt03 Wintersemester) benötigt man die Summe der Teiler einer natürlichen Zahl <i>n</i>. Dabei wird 1 als Teiler von <b><i>n</i></b> betrachtet und mitsummiert, die Zahl <i>n</i> selbst aber <b>nicht</b>. Beispielsweise ist die Summe der Teiler von 6 gleich 1 + 2 + 3. Schreiben Sie eine
								endrekursive Methode
								<br /><br /><b> 
								static public int sumFacTailRec(int n)
								</b><br /><br />
								zur Berechnung der Summe der Teiler von n.</li>
								<li>Testen Sie beide Methoden gewissenhaft an geeigneten Beispielen, damit kein StackOverflow auftritt. </li>
							</ul>
						</li>
					</ol>
			</div>
			<div>	
				<div>&nbsp</div>
				<div>&nbsp</div>
				<h4>Aufgabe 2: DList erweitern</h4>
					Aus der Vorlesung kennen Sie die  doppelt verkettete Liste <i>DList</i>.
					Erweitern Sie diese Klasse um:
					<ol start="1" type="a">
						<li>eine Instanzmethode 
							<br /><br /><b>public void append(MyDList li)</b><br /><br />
							zum Verketten zweier Listen. Dabei soll die aufrufende Liste verändert werden, die Liste li aber nicht.
							<br />
						</li>
						und 
						<li>um die Instanzmethode 
							<br /><br /><b>public void insert(int n, MyDList li)</b><br /><br />
							zum Einbetten der Liste li in die aufrufende Liste ab Position n (nullbasiert).
						</li>
						<li>Testen Sie beide Methoden an geeigneten Beispielen.</li>
					</ol>
					Hinweise: 
					<ul>
						<li>Wird eine Liste an sich selbst angehängt, oder in sich selbst eingefügt, soll ihr Inhalt kopiert werden. Beispiel: li = [a, b]<br />li.append(li) == [a, b, a, b]</li>
						<li>Hier finden Sie <a href="DList.java"><i>DList</i></a> und <a href="Graphvizable.java"><i>Graphvizable</i></a>.
						<li>Die Klasse <i>DList</i> steht im Backend zur Verfügung und darf <b>nicht importiert</b> werden.</li>
					</ul>
			</div>	
			<div>
				<div>&nbsp</div>
				<div>&nbsp</div>		
				<h4>Aufgabe 3: Binärer Baum</h4>
					<ol start="1" type="a">
						<li>Zeichnen Sie einen binären Baum der Höhe 3 mit der maximalen Anzahl Blätter. <br />
							Wie hoch ist die <i>minimale</i> und die <i>maximale</i> Anzahl Blätter
							für einen binären Baum der Höhe <i>h</i>? Begründen Sie die Antwort.
							<li>Ein binärer Baum habe <i>n</i> Knoten und die Höhe <i>h</i>.
							Zeigen Sie, dass folgende Ungleichung gilt:<br />
							<ul>log<sub>2</sub>(n + 1) &lt;= h &lt;= n</ul>
							F&uuml;r welche Werte von <i>n</i> wird die untere Schranke von <i>h</i> tatsächlich
							erreicht?</li>
							<li>Zeichnen Sie einen binären Baum (ist <b>kein</b> Suchbaum!), der in den Knoten jeweils ein Zeichen speichert und folgende Eigenschaften erfüllt:
						<ul>
							<li>die <i>preorder</i>-Reihenfolge ergibt: SYBKOMLI</li>
							<li>die <i>inorder</i>-Reihenfolge ergibt: KBYOSLMI.</li>					
						</ul>
						Wie lautet die <i>postorder</i>-Reihenfolge der Knoten? Begründen Sie Ihre Antwort.
						<br />
							Welche Höhe hat der Baum? Geben sie das Niveau der einzelnen Knoten an.</li>
							<li>In einen binären Suchbaum wurden Zahlen zwischen 1 und 1000 eingefügt. Gesucht werden soll die Zahl 363.<br />
							Welche der unten notierten Folgen können keine Suchpfade sein?
						<ol start="1" type="1">
							<li>2, 252, 401, 398, 330, 344, 397, 363.</li>
							<li>924, 220, 911, 244, 898, 258, 362, 363.</li>
							<li>925, 202, 911, 240, 912, 245, 363.</li>
							<li>2, 399, 387, 219, 266, 382, 381, 278, 363.</li>
							<li>935, 278, 347, 621, 299, 392, 358, 363.</li>
						</ol>				
					</ol>			
			</div>
		</div>
	</div>
}