@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspTeacher</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">
			<li class="dropdown-submenu">
                <a tabindex="-1" href="#">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="EIcourse">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="EITEmaterial">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="EIgroup1">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="EIgroup2">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="EIgroup3">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="EIgroup4">Gruppe 4</a></li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="AUDcourse">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="ADUTEmaterial">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="AUDgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="AUDgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="AUDgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="AUDgroup4">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="FPcourse">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="FPTEmaterial">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="FPgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="FPgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="FPgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="FPgroup4">Gruppe 4</a></li>
							                 </li>
							        	</ul>
					               </li>
			                    </ul>
			                </li>
			              	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspEinf. Inf.</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup1">Gruppe 1</a> 
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<li><a tabindex="-1" href="EIgr1sh3">Blatt 3</a></li>
											<li><a tabindex="-1" href="EIgr1sh2">Blatt 2</a></li>
											<li><a tabindex="-1" href="EIgr1sh1">Blatt 1</a></li>
										</li>
									</ul>
							</li>
		    				<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup2">Gruppe 2</a> 
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<li><a tabindex="-1" href="EIgr2sh3">Blatt 3</a></li>
											<li><a tabindex="-1" href="EIgr2sh2">Blatt 2</a></li>
											<li><a tabindex="-1" href="EIgr2sh1">Blatt 1</a></li>
										</li>
									</ul>
							</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup3">Gruppe 3</a> 
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<li><a tabindex="-1" href="EIgr3sh3">Blatt 3</a></li>
											<li><a tabindex="-1" href="EIgr3sh2">Blatt 2</a></li>
											<li><a tabindex="-1" href="EIgr3sh1">Blatt 1</a></li>
										</li>
									</ul>
							</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="EIgroup4">Gruppe 4</a> 
									<ul class="dropdown-menu">
										<li class="dropdown-submenu">
											<li><a tabindex="-1" href="EIgr4sh3">Blatt 3</a></li>
											<li><a tabindex="-1" href="EIgr4sh2">Blatt 2</a></li>
											<li><a tabindex="-1" href="EIgr4sh1">Blatt 1</a></li>
										</li>
									</ul>
							</li>
		    				<li><a tabindex="-1" href="EITEmaterial">Material für Lehrende</a></li>
		    				<li><a tabindex="-1" href="EITEsolutions">Studentische Musterlösungen</a></li>
		    				<li><a tabindex="-1" href="EItaskpool">Aufgabenpool</a></li>
							<li class="menu-label2">&nbsp&nbsp&nbsp&nbspBlatt Erstellen</li>			              	
			              	<!-- Divider -->       	     	
			                <li class="divider"></li>
			                <li><a tabindex="-1" href="AUDcourse">Algorithmen und Datenstrukturen</a></li>
		   					<li><a tabindex="-1" href="FPcourse">Funktionale Programmierung</a></li>
<!-- =====================================================================================				
				<ul class="dropdown-menu">
					<li class="dropdown-submenu">
						<li><a tabindex="-1" href="sheet_create">Blatt</a></li>
						<li><a tabindex="-1" href="create">Gruppe</a><li>
						<li><a tabindex="-1" href="create">Veranstaltung</a><li>
					</li>
				</ul> 
	================================================================================	-->
<!--						</li> -->
							<!-- Divider -->       	
		    				<li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspSemester</li>
							<li><a tabindex="-1" href="EITESEMsubmissions">Einreichungen</a></li>
							<li><a tabindex="-1" href="EITESEMstatistics">Statistiken</a></li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		Einf. Inf. Blatt erstellen
		<div class="pull-right">
			<div class="btn-group">
				<button class="btn btn-mini"><i class="icon-edit"></i></button>
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
			    <ul class="dropdown-menu" style="margin: 0 auto; left: -280%">
			    	<li><a href="#">Bearbeiten</a></li>
			    	<li><a href="#">Hinzufügen</a></li>
			    </ul>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="accordion" id="accordion1">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
								Aufgaben aussuchen
							</a>
						</div>
						<div id="collapseOne1" class="accordion-body collapse in">
							 		<div>
								 		<select id="course" onchange="show()" style="width: 200px">
								 			<option value=""><i>Veranstaltung</i></option>
								 			<option value="EinfInf">Einf. Inf.</option>
								 			<option value="AuD">AuD</option>
								 			<option value="FuncProg">Func. Prog</option>
								 		</select>
								 		<select id="semester" onchange="show()" style="width: 200px">
								 			<option value=""><i>Semester</i></option>
								 			<option value="W1213">WS 12/13</option>
								 			<option value="S12">SS 12</option>
								 			<option value="W1112">WS 11/12</option>
								 		</select>
								 		<select id="sheet" onchange="show()" style="width: 200px">
								 			<option value=""><i>Übungsblatt</i></option>
								 			<option value="sheet1">Blatt 1</option>
								 			<option value="sheet2">Blatt 2</option>
								 			<option value="sheet3">Blatt 3</option>
								 		</select>
								 		<select id="theme" onchange="show()" style="width: 200px">
								 			<option value=""><i>Thema</i></option>
								 			<option value="theme1">Bäume</option>
								 			<option value="theme2">Rekursion</option>
								 			<option value="theme3">Sortieralgorithmen</option>
								 		</select>
								 	</div>
							<div class="accordion-inner" style="height:300px; overflow:auto">
								<table class="table">
									<thead>
										<tr>
											<th>Ausgewählt</th>
											<th>Name</th>
											<th>Veranstaltung</th>
											<th>Semester</th>
											<th>Übungsblatt</th>
											<th>Thema</th>					
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 01</td>
											<td>Einf. Inf.</td>
											<td>WS 12/13</td>
											<td>Blatt 03</td>
											<td>Rekursion</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 02</td>
											<td>AuD</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 03</td>
											<td>AuD</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 04</td>
											<td>Func. Prog</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 05</td>
											<td>AuD</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 06</td>
											<td>Einf. Inf.</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 07</td>
											<td>AuD</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 08</td>
											<td>Func. Prog</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 09</td>
											<td>AuD</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
										<tr>
											<td><input type="checkbox"></input></td>
											<td>Aufgabe 10</td>
											<td>AuD</td>
											<td>SS 12</td>
											<td>Blatt 01</td>
											<td>Bäume</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
						Blatt erstellen
					</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">	
					<form method="POST" action="#">
					<div> Blattname:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" name="blattname" maxlength="30" value="Blatt 01"></div>
					<div> Veröffentlichen: <input type="text" name="datetime1" value="31.05.2013"></div>
					<div> Abgabedatum:&nbsp&nbsp <input type="text" name="datetime2" value="07.06.2013"></div>
					<div>
						<table class="table table-bordered">
							<tr>
								<th></th>
								<th>Gruppe 1</th>
								<th>Gruppe 2</th>
								<th>Gruppe 3</th>
								<th>Gruppe 4</th>
							</tr>
							<tr>
								<td>Endrekursion</td>
								<td><input type="checkbox" name="g1a1"></td>
								<td><input type="checkbox" name="g2a1"></td>
								<td><input type="checkbox" name="g3a1"></td>
								<td><input type="checkbox" name="g4a1"></td>
							</tr>
							<tr>
								<td>Stack-Anwendung: Palindrom</td>
								<td><input type="checkbox" name="g1a2"></td>
								<td><input type="checkbox" name="g2a2"></td>
								<td><input type="checkbox" name="g3a2"></td>
								<td><input type="checkbox" name="g4a2"></td>
							</tr>
							<tr>
								<td>Binärer Baum</td>
								<td><input type="checkbox" name="g1a3"></td>
								<td><input type="checkbox" name="g2a3"></td>
								<td><input type="checkbox" name="g3a3"></td>
								<td><input type="checkbox" name="g4a3"></td>
							</tr>
							<tr>
								<td>DList erweitern</td>
								<td><input type="checkbox" name="g1a4"></td>
								<td><input type="checkbox" name="g2a4"></td>
								<td><input type="checkbox" name="g3a4"></td>
								<td><input type="checkbox" name="g4a4"></td>
							</tr>
						</table>
					</div>
					<div><input type="submit" value="submit"></div>
		  		</form>				
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
}