@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspTeacher</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">
			<li class="dropdown-submenu">
                <a tabindex="-1" href="doctrine">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="EIcourse">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="EITEmaterial">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="EIgroup1">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="EIgroup2">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="EIgroup3">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="EIgroup4">Gruppe 4</a></li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="AUDcourse">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="AUDTEmaterial">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="AUDgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="AUDgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="AUDgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="AUDgroup4">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="FPcourse">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="FPTEmaterial">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="FPgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="FPgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="FPgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="FPgroup4">Gruppe 4</a></li>
							                 </li>
							        	</ul>
					               </li>
			                    </ul>
			                </li>
			              	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspFunc. Prog.</li>
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="FPgroup1">Gruppe 1</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="FPgr1sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="FPgr1sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="FPgr1sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="FPgr1sh2">&nbsp|&nbsp&nbspBlatt2</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="FPgr1sh2a1">Aufgabe 1</a></li>
										<li><a tabindex="-1" href="FPgr1sh2a2">Aufgabe 2</a></li>
										<li><a tabindex="-1" href="FPgr1sh2a3">Aufgabe 3</a></li>
									</li>
								</ul>							
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="FPgroup2">Gruppe 2</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="FPgr2sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="FPgr2sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="FPgr2sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="FPgroup3">Gruppe 3</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="FPgr3sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="FPgr3sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="FPgr3sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
			            	<li class="dropdown-submenu">
								<a tabindex="-1" href="FPgroup4">Gruppe 4</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="FPgr4sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="FPgr4sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="FPgr4sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
							</li>
		    				<li><a tabindex="-1" href="FPTEmaterial">Material für Lehrende</a></li>
		    				<li><a tabindex="-1" href="FPTEsolutions">Studentische Lösungen</a></li>
		    				<li><a tabindex="-1" href="FPTESTmaterial">Material für Studenten</a></li>
			              	<li><a tabindex="-1" href="FPtaskpool">Aufgabenpool</a></li>
							<li><a tabindex="-1" href="FPsheet_create">Blatt Erstellen</a></li>
			              	<!-- Divider -->       	     	
			                <li class="divider"></li>
			                <li><a tabindex="-1" href="EIcourse">Einführung i. d. Informatik</a></li>
		   					<li><a tabindex="-1" href="AUDcourse">Algorithmen und Datenstrukturen</a></li>
<!-- =====================================================================================				
				<ul class="dropdown-menu">
					<li class="dropdown-submenu">
						<li><a tabindex="-1" href="sheet_create">Blatt</a></li>
						<li><a tabindex="-1" href="create">Gruppe</a><li>
						<li><a tabindex="-1" href="create">Veranstaltung</a><li>
					</li>
				</ul> 
	================================================================================	-->
<!--						</li> -->
		   					<!-- Divider -->       	
		    				<li class="divider"></li>
							<li class="menu-label1">&nbsp&nbspBlatt</li>
							<li><a tabindex="-1" href="FPTESHsubmissions">Einreichungen</a></li>
							<li><a tabindex="-1" href="FPTESHstatistics">Statistiken</a></li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		Func. Prog. Gruppe 1 Blatt 2
		<div class="pull-right">
			<div class="btn-group">
				<button class="btn btn-mini"><i class="icon-edit"></i></button>
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
			    <ul class="dropdown-menu" style="margin: 0 auto; left: -280%">
			    	<li><a href="#">Bearbeiten</a></li>
			    	<li><a href="#">Hinzufügen</a></li>
			    </ul>
			</div>
		</div>
	</div>
	<div id="content">
		<table>
			<tr>
				<td>
					<table id="info" class="table table-condensed table-bordered" style="width: auto">
						<tr>
							<td>Teilnehmerzahl</td>
							<td>20 (aktuell angemeldet: 0)</td>
						</tr>
						<tr>
							<td>Veranstaltungstyp</td>
							<td>Übung</td>
						</tr>
						<tr>
							<td>Übungsleiter</td>
							<td>Prof. Dr. Matthias Eiserloh</td>
						</tr>
						<tr>
							<td>Zeit </td>
							<td>Dienstag, 09:00–11:00</td>
						</tr>
						<tr>
							<td>Turnus</td>
							<td>wöchentlich vom 08.04.2013 bis zum 08.07.2013</td>
						</tr>
						<tr>
							<td>Raum</td>
							<td>G29-K52 </td>
						</tr>								
	    			</table>  		
    			</td >
    			<td style="vertical-align: top; text-align: left; padding-left: 60px;">
	    			<fieldset>
	    				<legend>Materialien</legend> 
		    				<ul>
		    					<li><a href="#"><i class="icon-pencil"></i> Dies das und natürlich Jenes</a></li>
		    					<li><a href="#"><i class="icon-folder-open"></i> Order unso</a></li>
		    					<li><a href="#"><i class="icon-plane"></i> Acagamics</a></li>
		    					</ul>
	    			</fieldset>
				</td>
			</tr>
		</table>
	</div>
</div>

}