@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspStudent</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">
			<li class="dropdown-submenu">
                <a tabindex="-1" href="#">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="EISTcourse">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="EImaterialStudent">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="EISTgroup1">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="EISTgroup2">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="EISTgroup3">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="EISTgroup4">Gruppe 4</a></li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="AUDSTcourse">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="AUDmaterialStudent">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="AUDSTgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="AUDSTgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="AUDSTgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="AUDSTgroup4">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="FPSTcourse">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="FPmaterialStudent">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="FPSTgroup1">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="FPSTgroup2">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="FPSTgroup3">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="FPSTgroup4">Gruppe 4</a></li>
							                 </li>
							        	</ul>
					               </li>
			                    </ul>
			                </li>
			              	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbsp&nbspAuD</li>
			                <li class="dropdown-submenu">
								<a tabindex="-1" href="AUDSTgroup1">Meine Gruppe</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="AUDSTgr1sh3">Blatt 3</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh2">Blatt 2</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh1">Blatt 1</a></li>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="AUDSTgr1sh3">&nbsp|&nbsp&nbspBlatt3</a> 
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<li><a tabindex="-1" href="AUDSTgr1sh3a1">Aufgabe 1</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh3a2">Aufgabe 2</a></li>
										<li><a tabindex="-1" href="AUDSTgr1sh3a3">Aufgabe 3</a></li>
									</li>
								</ul>
							</li>
			                <li><a tabindex="-1" href="AUDSTsolutions">Musterlösungen</a></li>
			                <li><a tabindex="-1" href="AUDmaterialStudent">Material</a></li>
			          	 	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspSemester</li>
							<li><a tabindex="-1" href="AUDSTSEMsubmissions">Einreichungen</a></li>
							<li><a tabindex="-1" href="AUDSTSEMstatistics">Statistiken</a></li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		Func. Prog. Gruppe 4
	</div>
	<div id="content">
		<table>
			<tr>
				<td>
					<table id="info" class="table table-condensed table-bordered" style="width: auto">
						<tr>
							<td>Teilnehmerzahl</td>
							<td>20 (aktuell angemeldet: 0)</td>
						</tr>
						<tr>
							<td>Veranstaltungstyp</td>
							<td>Übung</td>
						</tr>
						<tr>
							<td>Übungsleiter</td>
							<td>Prof. Dr. Matthias Eiserloh</td>
						</tr>
						<tr>
							<td>Zeit </td>
							<td>Dienstag, 09:00–11:00</td>
						</tr>
						<tr>
							<td>Turnus</td>
							<td>wöchentlich vom 08.04.2013 bis zum 08.07.2013</td>
						</tr>
						<tr>
							<td>Raum</td>
							<td>G29-K52 </td>
						</tr>								
	    			</table>  		
    			</td >
    			<td style="vertical-align: top; text-align: left; padding-left: 60px;">
	    			<fieldset>
	    				<legend>Materialien</legend> 
		    				<ul>
		    					<li><a href="#"><i class="icon-pencil"></i> Dies das und natürlich Jenes</a></li>
		    					<li><a href="#"><i class="icon-folder-open"></i> Order unso</a></li>
		    					<li><a href="#"><i class="icon-plane"></i> Acagamics</a></li>
		    					</ul>
	    			</fieldset>
				</td>
			</tr>
		</table>
	</div>
</div>

}