@(title : String)

@head = {}

@_Structure(title)(head){
	@if(title == "EGG") {
		<center>
			<h1>Protal, ey!</h1>
			<h3>Du hascht wahrscheinlich das Easteregg gefunden, oder?!</h3><br>
			<img src="http://yoomox24.lima-city.de/KiliEgg.png" border=7> <br><br>
			<h3>Dir gebührt ein Präsent!</h3>
		</center>
	}else{
	<h2>Home</h2><br>
	<table cellspacing="10px">
		<tr>
			<th>
				Task
			</th>
			<th>
				TaskSheet
			</th>
			<th>
				Group
			</th>
			<th>
				Lecture
			</th>
			<th>
				Submission
			</th>

		</tr>
		<tr>
			<td>
			<form action="/createTask" method="get">
    			<input type="submit" value="Create Task" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/createTaskSheet" method="get">
    			<input type="submit" value="Create Task Sheet" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/addGroup" method="get">
    			<input type="submit" value="Add Group" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/createLecture" method="get">
    			<input type="submit" value="Create Lecture" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/submitSolution" method="get">
    			<input type="submit" value="Submit Solution" name="Submit" />
			</form>
			</td>
		</tr>
		
		<tr>
			<td>
			<form action="/createAutomaticTask" method="get">
    			<input type="submit" value="Create Automatic Task" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/showTaskSheet" method="get">
    			<input type="submit" value="Show Tasksheet" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/showGroups" method="get">
    			<input type="submit" value="Show Groups" name="Submit" />
			</form>
			</td>
			<td>
			<form action="/showLectures" method="get">
    			<input type="submit" value="Show Lectures" name="Submit" />
			</form>
			</td>
		</tr>
		
		<tr>
			<td>
			<form action="/showTasks" method="get">
    			<input type="submit" value="Show Tasks" name="Submit" />
    			<input type="hidden" value="all" name="option" />
			</form>
			</td>
			<td>
			
			</td>
			<td>
			<form action="/addTaskSheetToGroup" method="get">
    			<input type="submit" value="Add Tasksheet to Group" name="Submit" />
    			<input type="hidden" value="Einführung in die Informatik" name="lecture">
			</form>
			</td>
			<td>
			
			</td>
		</tr>
	</table>
	<br><br>
	<form action="/debug" method="GET">
		<input type="submit" value="DEBUG">
	</form>}
}