@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspStudent</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">
			<li class="dropdown-submenu">
                <a tabindex="-1" href="doctrine">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="course">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="material">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="group">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="group">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="group">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="group">Gruppe 4</a></li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="course">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="material">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="group">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="course">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="material">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="group">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 4</a></li>
							                 </li>
							        	</ul>
					               </li>
			                    </ul>
			                </li>
			              	<!-- Divider -->       	
			                <li class="divider"></li>
			                <li class="menu-label1">&nbsp&nbspAuD</li>
			                <li><a tabindex="-1" href="mygroup">Meine Gruppe</a></li>
			                <li><a tabindex="-1" href="exercise">Aktuelle Aufgabe</a></li>
			                <li><a tabindex="-1" href="solutions">Musterlösungen</a></li>
			                <li class="menu-label2">&nbsp&nbsp&nbsp&nbspMaterial</li>
			          	 	<!-- Divider -->       	
			                <li class="divider"></li>
							<li class="menu-label1">&nbsp&nbspSemester</li>
							<li><a tabindex="-1" href="submissions">Einreichungen</a></li>
							<li><a tabindex="-1" href="statistics">Statistiken</a></li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		Material(Student)
		<div class="pull-right">
		</div>
	</div>
	<div id="content">
		<p>-Das ist die Material-Seite für die Studenten</p>
		<p>-hier könnten zum Beispiel Folien, Bibliotheken oder Tutorials liegen</p>
	</div>
</div>

}