@(title : String)(groups : List[de.phoenix.rs.entity.PhoenixLectureGroup])(lectures : List[de.phoenix.rs.entity.PhoenixLecture])
@head={}

@_Structure(title)(head){
	existierende Veranstaltungen:<br>
	@for(lecture <- lectures) {
		<h2>-@lecture.getTitle()</h2>
	}
	<form action="/showLectureGroups" method="post">
		Alle Gruppen der folgenden Veranstaltung anezigen:<input type="text" name="lecture">
		<input id="Submit" name="Submit" type="submit" value="Submit" /><br><br>
	</form>
	<form action="/deleteGroups" method="post">
		@if(groups.size()> 0 ){
			<input type=hidden name=lecture value=@groups.get(0).getLecture().getTitle().replace(" ", "_")>
		}
		@for(group <- groups){
			<p><h2>@group.getName()</h2>
			&nbsp;&nbsp;&nbsp;&nbsp;delete?<input type="checkbox" name=@group.getName().replace(" ", "_")><br>
			</p>
		}
		<input id="Delete" name="Delete" type="submit" value="Delete" />
	</form>
}