@(title : String)(submissions : List[de.phoenix.rs.entity.PhoenixSubmission]) 

@head={}

@_Structure(title)(head){
	@for(i <- 0 until submissions.size()) {
		<p><<b>Abgabe: <i>@submissions.get(i).getDate()</i></b></p>
		<p>@submissions.get(i).getResult().getStatusText()</p>
		<p>@submissions.get(i).getTexts().map { text =>
			<p>@Html(text.getText().replace("\n", "<br>").replace(" ","&nbsp;").replace("\t","&nbsp;&nbsp;&nbsp;&nbsp;"))</p>
		}
		<b>Anhänge</b>
		<ul>
		<p>@submissions.get(i).getAttachments().map { attachment => 
			<li><a href="/download/submission/@submissions.get(i).getTask().getTitle()/@attachment.getFullname()/attachment/@i">@attachment.getFullname()</a></li>
		}
		</ul>
		<br>
	}
}