@(title : String)(groups : List[de.phoenix.rs.entity.PhoenixLectureGroup])(lectures : List[de.phoenix.rs.entity.PhoenixLecture])
@head={}

@_Structure(title)(head){
	existierende Veranstaltungen:<br>
	@for(lecture <- lectures) {
		<form id="@lecture.getTitle()" action="/showLectureGroups" method="post">
			<input type="hidden" name="lecture" value="@lecture.getTitle()"/>
			<a href="#" onclick="document.getElementById('@lecture.getTitle()').submit()"><h2>-@lecture.getTitle()</h2></a>
		</form>
	}
	<form action="/deleteGroups" method="post">
		@if(groups.size()> 0 ){
			<input type="hidden" name="lectureTitle" value="@groups.get(0).getLecture().getTitle()">
			<input type="hidden" name="groupName" id=hiddenGroup>
			@for(group <- groups){
				<p><h2>@group.getName()</h2>
	    		<input type="submit" value="update" name="update" id="update" onclick='this.form.action="/updateGroup"'/>
	    		<input type="submit" value="show Tasksheets" name="showTaskSheets" id="showTaskSheets" onclick='this.form.action="/showGroupTaskSheets"; document.getElementById("hiddenGroup").value="@group.getName()"'>
	    		<input type="submit" value="delete Group" name="deleteGroup" id="deleteGroup" onclick='this.form.action="/deleteGroup"; document.getElementById("hiddenGroup").value="@group.getName()"'>
				</p>
			}
		}
		<input id="delete" name="Delete" type="submit" value="Delete" />
	</form>
}