@(titel: String) 

@additionalHead = {<!-- Additional head -->
	<script src="/assets/ckeditor/ckeditor.js" type="text/javascript"></script>
}

@menu =  {
<div style="background-color:white; border-radius:25px; width:95px; font-size: 20px">&nbsp&nbspTeacher</div>
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">		                  
		     <li class="dropdown-submenu">
                <a tabindex="-1" href="doctrine">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="course">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="material">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="group">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="group">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="group">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="group">Gruppe 4</a></li>
				                </li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="course">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="material">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="group">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="course">Funktionale Programmierung</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="material">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="group">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="group">Gruppe 4</a></li>
							                 </li>
										</ul>
									</li>
				</ul>
			</li>   
		   	<!-- Divider -->       	
		    <li class="divider"></li>
		    <li><a tabindex="-1" href="course">Einführung i.d. Informatik</a></li>
		    <li><a tabindex="-1" href="course">Algorithmen und Datenstrukturen</a></li>
		    <li><a tabindex="-1" href="course">Funktionale Programmierung</a></li>
		 	<!-- Divider -->       	
		    <li class="divider"></li>
			<li class="dropdown-submenu">
				<a tabindex="-1" href="#">Verwalten</a>
				<ul class="dropdown-menu">
					<li class="dropdown-submenu">
						<li><a tabindex="-1" href="create">Gruppe</a><li>
						<li><a tabindex="-1" href="create">Veranstaltung</a><li>
					</li>
				</ul>
			</li>
		</ul>
	</div> <!-- Dropdown menu -->
			        
}

@_main_(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		Aufgabenpool
		<div class="pull-right">
		</div>
	</div>
	<div id="content">
		<div class="tabbable">
			<ul class="nav nav-pills">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Einf. Inf.<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#tab0-0" data-toggle="tab">SS 13</a></li>
						<li><a href="#tab0-1" data-toggle="tab">WS 12/13</a></li>
						<li><a href="#tab0-2" data-toggle="tab">SS 12</a></li>
						<li><a href="#tab0-3" data-toggle="tab">WS 11/12</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">A. u. D.<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#tab1-0" data-toggle="tab">SS 13</a></li>
						<li><a href="#tab1-1" data-toggle="tab">WS 12/13</a></li>
						<li><a href="#tab1-2" data-toggle="tab">SS 12</a></li>
						<li><a href="#tab1-3" data-toggle="tab">WS 11/12</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Func. Prog.<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#tab2-0" data-toggle="tab">SS 13</a></li>
						<li><a href="#tab2-1" data-toggle="tab">WS 12/13</a></li>
						<li><a href="#tab2-2" data-toggle="tab">SS 12</a></li>
						<li><a href="#tab2-3" data-toggle="tab">WS 11/12</a></li>
					</ul>
				</li>
			</ul>
			<div class="tab-content">
<!-- ============== Einf. Inf. ======================================== -->				
				<div id="tab0-0" class="tab-pane">
				<h3>SS 2013</h3>				
				<div class="accordion" id="accordion1">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
								Übung04
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
							<table class="table table-condensed" style="width:40%">	
								<tr>
									<td>
										<b>Aufgabe 1</b>
									</td>
									<td>
										<input type="checkbox" name="u4a1">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 2</b>
									</td>
									<td>
										<input type="checkbox" name="u4a2">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 3</b>
									</td>
									<td>
										<input type="checkbox" name="u4a3">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 4</b>
									</td>
									<td>
										<input type="checkbox" name="u4a4">
									</td>
								</tr>						  		 
							</table>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
								Übung03
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
							<table class="table table-condensed" style="width:40%">	
								<tr>
									<td>
										<b>Aufgabe 1</b>
									</td>
									<td>
										<input type="checkbox" name="u3a1">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 2</b>
									</td>
									<td>
										<input type="checkbox" name="u3a2">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 3</b>
									</td>
									<td>
										<input type="checkbox" name="u3a3">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 4</b>
									</td>
									<td>
										<input type="checkbox" name="u3a4">
									</td>
								</tr>						  		 
							</table>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
								Übung02
							</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
							<table class="table table-condensed" style="width:40%">	
								<tr>
									<td>
										<b>Aufgabe 1</b>
									</td>
									<td>
										<input type="checkbox" name="u2a1">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 2</b>
									</td>
									<td>
										<input type="checkbox" name="u2a2">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 3</b>
									</td>
									<td>
										<input type="checkbox" name="u2a3">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 4</b>
									</td>
									<td>
										<input type="checkbox" name="u2a4">
									</td>
								</tr>						  		 
							</table>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
								Übung01
							</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">
							<table class="table table-condensed" style="width:40%">	
								<tr>
									<td>
										<b>Aufgabe 1</b>
									</td>
									<td>
										<input type="checkbox" name="u1a1">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 2</b>
									</td>
									<td>
										<input type="checkbox" name="u1a2">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 3</b>
									</td>
									<td>
										<input type="checkbox" name="u1a3">
									</td>
								</tr>
								<tr>
									<td>
										<b>Aufgabe 4</b>
									</td>
									<td>
										<input type="checkbox" name="u1a4">
									</td>
								</tr>						  		 
							</table>
							</div>
						</div>
					</div>
			    </div>			    			    			    
			    </div>
			    <div id="tab0-1" class="tab-pane">
			    	hallo12
			    </div>
				<div id="tab0-2" class="tab-pane">
					hallo123
				</div>
				<div id="tab0-3" class="tab-pane">
					Test 123
				</div>
<!-- ============== A. u. D. ======================================== -->				
				<div id="tab1-0" class="tab-pane">
					hallo1
			    </div>
			    <div id="tab1-1" class="tab-pane">
			    	hallo12
			    </div>
				<div id="tab1-2" class="tab-pane">
					hallo123
				</div>
				<div id="tab1-3" class="tab-pane">
					Test 123
				</div>
<!-- ============== Func. Prog. ======================================== -->				
				<div id="tab2-0" class="tab-pane">
					hallo1
			    </div>
			    <div id="tab2-1" class="tab-pane">
			    	hallo12
			    </div>
				<div id="tab2-2" class="tab-pane">
					hallo123
				</div>
				<div id="tab2-3" class="tab-pane">
					Test 123
				</div>								
			</div><!-- /.tab-content -->
		</div><!-- /.tabbable -->
	</div>
</div>

}