@(titel: String) 

@additionalHead = {<!-- Additional head -->}

@menu =  {
<!-- Matze, your stuff goes here! -->
	<div class="dropdown clearfix">
       	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; padding: 8px">		                  
		     <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Lehre</a>
                <ul class="dropdown-menu">
	                <li class="dropdown-submenu">
	                    <!-- Courses -->
	                    <a tabindex="-1" href="#">Einführung i.d. Informatik</a> 
		                    <ul class="dropdown-menu">
				                <li class="dropdown-submenu">
				                    <li><a tabindex="-1" href="#">Material</a></li>
				                    <li class="divider"></li>
				                    <li><a tabindex="-1" href="#">Gruppe 1</a></li>
				                    <li><a tabindex="-1" href="#">Gruppe 2</a></li>
				                    <li><a tabindex="-1" href="#">Gruppe 3</a></li>
				                    <li><a tabindex="-1" href="#">Gruppe 4</a></li>
				                </li>
				        	</ul>
	                			<li class="dropdown-submenu">
				                    <a tabindex="-1" href="course">Algorithmen und Datenstrukturen</a> 
					               		<ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="#">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="#">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="#">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="#">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="#">Gruppe 4</a></li>
							                </li>
							        	</ul>
				                </li>
					                <li class="dropdown-submenu">
					                    <a tabindex="-1" href="#">Lehre 3</a> 
					                    <ul class="dropdown-menu">
							                <li class="dropdown-submenu">
							                      <li><a tabindex="-1" href="#">Material</a></li>
							                      <li class="divider"></li>
							                      <li><a tabindex="-1" href="#">Gruppe 1</a></li>
							                      <li><a tabindex="-1" href="#">Gruppe 2</a></li>
							                      <li><a tabindex="-1" href="#">Gruppe 3</a></li>
							                      <li><a tabindex="-1" href="#">Gruppe 4</a></li>
							                 </li>
										</ul>
									</li>
				</ul>
			</li>   
		   	<!-- Divider -->       	
		    <li class="divider"></li>
		    <li><a tabindex="-1" href="course">Veranstaltung 1</a></li>
		    <li><a tabindex="-1" href="course">Veranstaltung 2</a></li>
		    <li><a tabindex="-1" href="course">Veranstaltung 3</a></li>
		 	<!-- Divider -->       	
		    <li class="divider"></li>
			<li><a tabindex="-1" href="#">Aufgabenpool</a></li>
			<li><a tabindex="-1" href="#">Erstellen</a></li>
		</ul>
	</div> <!-- Dropdown menu -->

}

@MAIN(titel)(additionalHead)(menu) {
<!-- Content -->
<div class="article">
	<div id="headline">
		Überschrift
		<div class="pull-right">
			<div class="btn-group">
				<button class="btn btn-mini"><i class="icon-edit"></i></button>
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
			    <ul class="dropdown-menu" style="margin: 0 auto; left: -280%">
			    	<li><a href="#">Bearbeiten</a></li>
			    	<li><a href="#">Hinzufügen</a></li>
			    </ul>
			</div>
		</div>
	</div>
	<div id="content">
		Content goes here!
	</div>
</div>


}