@(titel: String)(submissions : List[Einreichung])


@additionalHead = {<link href=@routes.Assets.at("stylesheets/prettify.css") rel="stylesheet">
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>}

@menu =  {}

@_home_(titel)(additionalHead) {
<!-- Content -->
<div class="article home">
	<div id="headline">
		Einreichungen
   	</div>
    
	<div id="content">

		@submissions.map { einreichung =>
			<b>(@einreichung.getDate())</b>
			<div class="accordion" id="accordion-@einreichung.getDate().replace(" ","").replace(":","")">
				@einreichung.getFiles().map { file =>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#@file.hashCode()">
								@file.substring(0, file.indexOf("\n"))
							</a>
						</div>
						<div id="@file.hashCode()" class="accordion-body collapse">
							<div class="accordion-inner">
								Status: @einreichung.getStatus()<br>
								<br>
								<pre class="prettyprint" id="java">
								@file.substring(file.indexOf("\n"))
								</pre>
							</div>
						</div>
					</div>
				}
			</div> 
			<br>
		}


	</div>
</div>


}